.add-new-button {
  width: 28.6rem;
  height: 7rem;
  border: none;
  background: #2572ff;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  > svg {
    width: 2rem;
    height: 2rem;
  }
}
