.add-new-button {
  width: 286px;
  height: 70px;
  border: none;
  background: #2572ff;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
