.categories {
  margin-top: 3.7rem;
  margin-bottom: 8.6rem;

  h3 {
    font-weight: 600;
    font-size: 3.3rem;
    line-height: 4rem;
    color: #e6e6e6;
    margin: 0;
  }

  .nav-wrapper {
    display: flex;
    gap: 2.4rem;
    align-items: center;
    margin-top: 3.2rem;

    button {
      background: transparent;
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #b3b3b3;
      border: none;
      width: fit-content;
      height: fit-content;
      cursor: pointer;

      > svg {
        width: 1.067rem;
        height: 1.7rem;
      }

      &.active {
        color: #ffffff;
      }

      &.prev {
        transform: rotate(-180deg);
      }
    }

    .list {
      max-width: 28rem;
      width: 100%;
      overflow: hidden;
      position: relative;
      aspect-ratio: 1/0.1;

      > div {
        display: flex;
        gap: 4.8rem;
        align-items: center;
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: transform 0.2s ease;
      }
    }
  }
}
