.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 4rem 0;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    > svg {
      width: 3.9rem;
      height: 3rem;
    }
  }

  .nav-list {
    display: flex;
    gap: 2em;
    align-items: center;

    div {
      cursor: pointer;
      font-size: 1.3rem;

      &:hover {
        text-shadow: 0px 0px 3.2rem #fff;
        transform: scale(1.1);
        transform-origin: 0;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 3.2rem;

    .info {
      display: flex;
      gap: 1.6rem;
      align-items: center;

      .profile {
        width: 4rem;
        height: 4rem;
        overflow: hidden;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      .name-icons {
        h6 {
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.6rem;
          color: #fcfcfc;
          margin-top: 0;
          margin-bottom: .8rem;
        }

        > svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    .notification {
      > svg {
        width: 1.67rem;
        height: 2rem;
      }
    }

    .settings {
      > svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
